*{
    font-family: "Patrick Hand", cursive;
        font-weight: 400;
        font-style: normal;
    margin: 0px;
    
}
body{
    background-color:#4f518c;
}
#Header{ 
    background-color:#4f518c;
    height: 85px;
    display: flex;
    align-items: center;
    border-bottom: 4px solid #81789f;


}
#Header_Name{
    color: #E6D4FF ;
    margin: 20px;
   

}
#Header_Name_Hyper{
    text-decoration: none;
    
}
.navbar ul{
    list-style-type: none;
    overflow: hidden;
    float:right;
    margin-top: -65px;
    display: flex;
    height: 40px;
    align-items: center;

}
.navbar li{

    display: inline-block;
}
.navlist{
    color:#E6D4FF;
    margin-right: 25px;
    display: block;
    text-align: center;
}
 
.navlist a{
    text-decoration: none;
    color:  #E6D4FF ;
    padding: 10px;
    margin-top: 120px;
    transition: 0.3s;
    
}
.navlist a:hover{
    background-color: #443d66 ;
    ;
}
.review{
    background-color: #E6D4FF;
    height: 200px;
    display: flex;
    align-items: top;
    justify-content: center;
    
}
#reviewer{
    font-family: "Figtree", serif;
    margin-top: 50px;
    height: 15px;

}
#reviewer i{
    font-family: "Figtree", serif;
    background-color: #E6D4FF;
    color: #4F518C;
    
}
#linebreakhead{
    position: absolute;
    height: 10px;
    margin-top: 70px;
    font-size: larger;
    color: #4F518C;
    
}
#quote{
    font-family: "Figtree", serif;
    position: absolute;
    margin-top: 120px;
    height: 10px;
}
.swiper .swiper-button-prev,.swiper-button-next{
 color: #4F518C;   
 padding: 5px;
}

.swiper-pagination-bullet-active {
    background-color: #4F518C !important;
  }
  
  .swiper-pagination-bullet {
    background-color: #575174;
  }

  #Main_Title{
    text-align: center;
    margin-top: 10vh;
    font-size: 50px;
    font-weight: 500;
    color: #D6C6F3 ;
  }
  #Head_gif_1{
    display: flex;
    float: left;
    margin-left: 350px;
    margin-top: -150px;
    opacity: 1.0;
    
  }
  #Head_gif_2{
    display: flex;
    float: right;
    margin-right: 350px;
    margin-top: -150px;
    opacity: 1.0;
  }
  #Hook{
    text-align: center;
    margin-top: 20vh;
    font-size: 24px;
    font-weight: 100;
    margin-right: 300px;
    margin-left: 300px;
    color: #D6C6F3 ;
  }
  #button_holder{
    width: 10%;
    margin-left:16%;
    margin-right:50%;
    margin-top: 2%;

    
  }
.buttons button{
 
    display: block;
    text-align: center;
    cursor: pointer; 
    width: 700%;
    height: 60px;
    margin-top: 5%;
    border-radius: 15px;
    background-color: #2c2a4a ;
    color: #D6C6F3 ;
    transition: 0.5s;
    font-size: large;
}

.buttons button:hover{
    background-color: #D6C6F3 ;
    color: #2c2a4a ;
}
.buttons a{
    text-decoration: none;
    color: #D6C6F3 ;
    transition: 0.5s;
  
    
}
.buttons button:hover a{
    color: #2c2a4a ;
}
social_links img{
    opacity: 100%;
     transition: 0.7s;

}
.social_links a:hover img{
    opacity: 50%;

}






#background_info_1{
    background-color:#2c2a4a ;
    height: 500px;
}
#background_info_2{
    background-color:#4f518c ;
    height: 400px;
    width: 500px;
    margin-top: 50px;
    position:absolute;
    margin-left: 150px;
    border-radius: 30px;
}
#background_info_3{
    background-color: #575174 ;
    height: 300px;
    width: 600px;
    position:absolute;
    margin-left: 800px;
    text-align: center;
    border-radius: 10px;
}
#about_me_me{
    position:absolute;
    margin-left: -200px;
    height: 700px;
    margin-top: -80px;
}
#About_Me_title{
    color: #D6C6F3 ;
    font-style: italic;
    margin-top: 10px;
}
#intro{
    margin-top: 10px;
    color: #D6C6F3;
    font-weight: 400;
    font-size: large;
    line-height: 2.15;
    padding: 5px;
    
}
.Interests{
    height: 610px;
    margin-left: 10px;
    width: 109vh;
    color: #2c2a4a ;
    font-style: italic;
    font-size: 20px;
    margin-top: 11vh;;
    background-color: #81789f;
    border: 10px solid #2c2a4a;
    border-radius: 30px;
    text-align: center;
}
#Interests{
    font-size: larger;
    font-weight: 800;
    margin-top: 6px;
    margin-left: 15px;
    overflow: auto;
}
#Interests_List{
    font-style: normal;
    list-style-type: none; 
    margin-top: 10px;
    font-weight: 600;
    margin-left: -60px;
    line-height: 1.5em;
}
#background_info_3 li{
    color: #D6C6F3 ;
    font-weight: 400;
    margin-top: 10px;
    border-radius: 10px;
    width: fit-content;
    margin-left: 30px;
}
#woke{
    background-color:#3c3d66 ;
    display: flex;
    height: 200px;
    align-items: center;
 border-radius: 10px;
}
#pronounss{
    text-align: left;
    background-color:#3c3d66 ;
    font-weight: 600;
    font-style: italic;
    font-size: 1.4em;
    margin-left: 50px;
    padding: 10px;
    margin-top: -100px;
    color: #D6C6F3;
}
#about_me_2_box{
    background-color: #3c3d66;
    height: 500px;
    width: 100vh;
    margin-left: 900px;
    margin-top: 140px;
    border: 10px solid #E6D4FF;
    border-radius: 30px;
}
#about_me_2{
    font-size: 1.9em;
    font-weight: 800;
    margin-left: 15px;
    overflow: auto;
    margin-bottom: 20px;
}
#About_Me_text{
    color: #beb2d3;
    font-weight: 600;
    margin-left: 15px;
    line-height: 1.6em;
    margin-right: 15px;
    font-size: 1.5em;
}
.about_me_too{
    text-align: center;
}
#contact_box{
    background-color:#2c2a4a;
    color: #D6C6F3;
    font-size: 50px;
    height: 400px;
    border-radius: 10px;
    margin-top: 250px;
    margin-bottom: -200px;
    text-align: center;
}   
.buttons table tr button{
 
    text-align: center;
    cursor: pointer; 
    width: 70%;
    height: 60px;
    border-radius: 15px;
    background-color: #2c2a4a ;
    color: #D6C6F3 ;
    margin-left: 50px;
    transition: 0.5s;
    font-weight: 800;
}




#Commissions_box{
    border: 10px solid #E6D4FF;
    height: 100px;
    text-align: center;
    color:#D6C6F3;
    margin-top: 50px;
    background-color: #3c3d66;
    border-radius: 20px; 

}
#Commissions_title{
margin: 30px;

}
#art_comms{
    border: 10px solid #2c2a4a; 
    width: fit-content; 
    height: 100px; 
    align-content: center;  
    background-color: #575174 ; 
    border-radius: 20px; 
    margin-left: 10px;
    margin-top: 10px;
}
.Art_wrapper{
    justify-content: center;
     display: flex;
     overflow: visible;
     height: fit-content;
     flex-wrap: wrap;
}
.Art_box{
    display: block;
     border: 10px solid #443d66;
     background-color: #D6C6F3;
     border-radius: 10px;
     padding: 10px;
      width: fit-content;
      margin: 2px;
}
.img_art{
    height:400px
}


.Game_wrapper{
    justify-content: center;
     display: flex;
     overflow: visible;
     height: fit-content;
     flex-wrap: wrap;
}
.Game_box{
    display: block;
     border: 10px solid #D6C6F3;
     background-color:#443d66 ;
     padding: 10px;
     border-radius: 10px;
      width: fit-content;
      margin: 5px;
      color:#D6C6F3;
      font-style: italic;
      font-weight: bold;
      
}
.img_game{
    height:400px
}


.Music_wrapper{
    text-align: center;
    justify-content: center;
     display: inline-block;
     overflow: visible;
     height: fit-content;
}
.Music_box{
    display: block;
     border: 10px solid #D6C6F3;
     background-color:#443d66 ;
     padding: 10px;
     border-radius: 10px;
      width: 600px;
      margin: 7px;
      color:#D6C6F3;
      font-style: italic;
      font-weight: bold;
      
}



@media screen and (max-width:980px){
    .navbar{
        display: block;
        margin-top: 70px;
        font-size: 14px;
       
    }
    .navlist{
        padding: 2px;
        margin: 2px;
        margin-right: 20px;
        margin-left: -15px;
        height: 0px;
        overflow:visible;
    }
    #Hook{
        width: 300px;
        margin-left: 100px;
        margin-top: 30px;
        font-size: 20px;
    }
    #Head_gif_2{
        display: flex;
        float: right;
        margin-right: 350px;
        margin-top: -280px;
       
    }
    #background_info_3{
        padding: 10px;
        margin: 2px;
        margin-right: 20px;
        margin-top: 50vh;
        margin-left: -20px;
        font-size: 10px;
        overflow:scroll;
    }
    #background_info_3 p {
        font-size: 14px;
        margin-left: 20px;
        margin-right: 60px;
    }
    #background_info_2{
        margin-left: 0px;
    }
    .Interests{
        margin-top: 400px;
        overflow: scroll;
    }
    #about_me_2_box{
        margin-left: 0px;
    
    }
  
   }
